@mixin transform($args...) {
  transform: $args;
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
}

@mixin radius($args...) {
  border-radius: $args;
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  -ms-border-radius: $args;
  -o-border-radius: $args;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background-color: #eaeaea;
  #inputs {
    position: absolute;
    width: 70%;
    flex-wrap: wrap;
    bottom: 10%;
    left: 50%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    button {
      $neumorphism: -5px -5px 8px 0 #ffffff, 5px 5px 8px 0 #656565;
      $pushed-neumorphism: -3px -3px 8px 0 #ffffff, 3px 3px 8px 0 #656565;
      box-shadow: $neumorphism;
      $radius: 0.3rem;
      z-index: 2;

      &:not([disabled]) {
        cursor: pointer;
        &:hover {
          box-shadow: $neumorphism, inset 0 0 9999999999999px 0 #00000026;
        }
        &:active {
          box-shadow: $pushed-neumorphism, inset 0 0 9999999999999px 0 #00000056;
        }
      }
      &[disabled] {
        background-color: #bababa56;
      }

      outline: none;
      border: none;
      background-color: #bababa;

      font-weight: 700;
      font-size: 1rem;
      color: white;
      // padding: 0.5rem 0.7rem;
      width: 50px;
      height: 50px;

      &.memomode {
        background-color: #20a071;
      }
    }

    @include transform(translateX(-50%));
  }
}
